@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@200;300;400;600;700&display=swap');

:root {
    --orange: #ffa500;
    --primary-color: #333;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bglog.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.login-form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e69500; /* Darker shade of orange */
}

label {
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 15px;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: var(--orange);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
