<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/congratulation.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="cong-container">
        <div class="card">
            <h1 class="heading">
                <span>c</span>
                <span>o</span>
                <span>n</span>
                <span>g</span>
                <span>r</span>
                <span>a</span>
                <span>t</span>
                <span>s</span>
            </h1>
            <p>Thank you for choosing our package. We are excited to serve you!</p>
            <p>If you have any questions or need further assistance, feel free to <a href="index.html">contact us</a>.</p>
            <div class="actions">
                <a href="/logout" class="btn btn-primary">Logout</a>
                <a href="/" class="btn btn-secondary">Go back the main Page</a>
            </div>
        </div>
    </div>
</body>
</html>